<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="Server" value=""/>
		<add key="Database" value=""/>
		<add key="RememberPassword" value=""/>
	</appSettings>
</configuration>